In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
fonte = "https://github.com/alura-cursos/imersao-dados-2-2020/blob/master/MICRODADOS_ENEM_2019_SAMPLE_43278.csv?raw=true"

dados = pd.read_csv(fonte)
dados.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001004661,2019,1506138,Redenção,15,PA,17,M,1,3,...,A,A,A,A,B,A,C,A,B,B
1,190001004674,2019,1504208,Marabá,15,PA,23,M,1,3,...,A,A,A,B,A,A,B,A,A,B
2,190001004722,2019,1501402,Belém,15,PA,35,F,2,1,...,A,A,A,B,A,B,B,A,A,B
3,190001004735,2019,1507300,São Félix do Xingu,15,PA,23,F,1,3,...,A,A,A,B,A,A,B,A,A,B
4,190001004776,2019,1500800,Ananindeua,15,PA,16,F,1,3,...,A,A,A,B,A,A,D,A,A,B

In [3]:
dados.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO',
       'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA',
       'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE',
       'IN_LACTANTE', 'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR',
       'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18',
       'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS',
       'IN_TEMPO_ADICIONAL', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'], dtype=object)

* Desafios Aula 4:


* Desafio 1: Procurar outro modelo de ML para treinar e comparar com os outros modelos em aula.
* Desafio 2: Ler a documentação do Dummy e alterar o método de regressão.
* Desafio 3: Buscar outra métrica para avaliar modelos de regressão.

In [4]:
provas = ['NU_NOTA_REDACAO', 'NU_NOTA_LC', 'NU_NOTA_CN', 'NU_NOTA_MT', 'NU_NOTA_CH']
dados['NU_NOTA_TOTAL'] = dados[provas].sum(axis=1)
provas.append("NU_NOTA_TOTAL")
dados[provas].head()

,NU_NOTA_REDACAO,NU_NOTA_LC,NU_NOTA_CN,NU_NOTA_MT,NU_NOTA_CH,NU_NOTA_TOTAL
0,420.0,488.6,435.6,432.4,512.3,2288.9
1,400.0,375.3,NaN,NaN,409.3,1184.6
2,560.0,441.0,423.2,427.2,499.1,2350.5
3,500.0,551.5,426.2,499.9,578.1,2555.7
4,780.0,511.2,516.5,424.5,571.3,2803.5

In [5]:
dados_sem_zero = dados.query('NU_NOTA_TOTAL != 0')
dados_sem_zero.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,NU_NOTA_TOTAL
0,190001004661,2019,1506138,Redenção,15,PA,17,M,1,3,...,A,A,A,B,A,C,A,B,B,2288.9
1,190001004674,2019,1504208,Marabá,15,PA,23,M,1,3,...,A,A,B,A,A,B,A,A,B,1184.6
2,190001004722,2019,1501402,Belém,15,PA,35,F,2,1,...,A,A,B,A,B,B,A,A,B,2350.5
3,190001004735,2019,1507300,São Félix do Xingu,15,PA,23,F,1,3,...,A,A,B,A,A,B,A,A,B,2555.7
4,190001004776,2019,1500800,Ananindeua,15,PA,16,F,1,3,...,A,A,B,A,A,D,A,A,B,2803.5

In [6]:
provas_entrada = ['NU_NOTA_CH','NU_NOTA_CN','NU_NOTA_LC','NU_NOTA_REDACAO']
prova_saida = 'NU_NOTA_MT'

dados_sem_zero = dados_sem_zero[provas].dropna()

notas_entrada = dados_sem_zero[provas_entrada]
notas_saida = dados_sem_zero[prova_saida]

In [7]:
#f(x) = y
x = notas_entrada
y = notas_saida

In [8]:
#Separando dados de treino e dados de teste

from sklearn.model_selection import train_test_split

seed = 4321

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.25, random_state=seed)

In [9]:
x_treino.head()

        NU_NOTA_CH  NU_NOTA_CN  NU_NOTA_LC  NU_NOTA_REDACAO
90200        567.7       542.7       523.2            660.0
12375        497.1       445.2       423.0            580.0
46320        494.0       454.0       528.5            520.0
111208       561.9       385.8       572.7            640.0
75943        686.5       625.7       646.5            900.0

In [10]:
x_treino.shape

(69402, 4)

In [11]:
y_treino.shape

(69402,)

## Desafio 1: Procurar outro modelo de ML para treinar e comparar com os outros modelos em aula.

* Modelos utilizados em aula: Linear SVR e Dummy

* Modelo utilizado aqui: linear_model



    * Mean Squared Error (MSE)
        * LinearSVR   - 18324.12
        * Dummy       - 18324.12
        * Linear_mode - 5961.37
        
    * Raiz quadrada (RMSE - Root Mean Squared Error)
        * LinearSVR   - 135.36
        * Dummy       - 135.36
        * Linear_mode - 77.21
        

* Quanto menor o RMSE, melhor será o modelo. Portanto, o Linear Mode se apresenta como o melhor modelo

#### Regressão Linear

In [12]:
from sklearn import linear_model as lm

In [13]:
#Descrição do modelo
model_lr = lm.LinearRegression()

#Treinamento do modelo
model_lr.fit(x_treino,y_treino)

LinearRegression()

In [14]:
#Predições
pred = model_lr.predict(x_teste) #teste

In [15]:
pred[0:5]

array([538.00124832, 609.72786088, 487.44422738, 569.12940392,
       561.3090307 ])

In [16]:
#Valores reais
y_teste[:5]

114991    459.7
104685    617.2
91028     520.0
115802    703.8
93303     627.1
Name: NU_NOTA_MT, dtype: float64

In [17]:
resultados = pd.DataFrame()
resultados['Real'] = y_teste
resultados['Previsão'] = pred
resultados['Diferença'] = resultados['Real'] - resultados['Previsão']
resultados['quadrado_diferença'] = (resultados['Real'] - resultados['Previsão'])**2

In [18]:
resultados

         Real    Previsão   Diferença  quadrado_diferença
114991  459.7  538.001248  -78.301248         6131.085489
104685  617.2  609.727861    7.472139           55.832863
91028   520.0  487.444227   32.555773         1059.878331
115802  703.8  569.129404  134.670596        18136.169449
93303   627.1  561.309031   65.790969         4328.451642
...       ...         ...         ...                 ...
81393   688.6  602.279709   86.320291         7451.192655
40159   479.1  629.342491 -150.242491        22572.805986
64083   501.4  584.245996  -82.845996         6863.459119
84661   772.5  720.901846   51.598154         2662.369527
79106   369.0  434.093182  -65.093182         4237.122337

[23135 rows x 4 columns]

In [19]:
#Media
resultados['quadrado_diferença'].mean()

5961.372212400348

In [20]:
#Raiz quadrada
resultados['quadrado_diferença'].mean()**(1/2)

77.2099230177077

## Desafio 2: Ler a documentação do Dummy e alterar o método de regressão.

* MAE com Dummy: 90.39
* MSE com Dummy: 12063.64
* RMSE com Dummy: 109.83

In [21]:
from sklearn.dummy import DummyRegressor
from sklearn.metrics import mean_absolute_error

In [22]:
model_dummy = DummyRegressor(strategy='mean') 
model_dummy.fit(x_treino, y_treino)
dummy = model_dummy.predict(x_teste)

In [23]:
# Verificando o erro do algoritimo
mae = mean_absolute_error(y_teste, dummy)
mae

90.38717491270496

In [24]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_teste, dummy)
mse

12063.645588509502

In [25]:
rmse = mse**(1/2)
rmse

109.83462836696586

## Desafio 3: Buscar outra métrica para avaliar modelos de regressão.

* MAE - Mean Absolute Error

In [26]:
mean_absolute_error(y_teste, pred)

62.33318493190141

* R2 - R Squared

In [28]:
from sklearn.metrics import r2_score
r2_score(y_teste, pred)

0.5057582091775839

* MAD - Median Absolute Error

In [31]:
from sklearn.metrics import median_absolute_error
median_absolute_error(y_teste, pred)

53.87255911240402